.playlist-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    background-color: var(--clr-secondary);
    padding: 1rem;
    border: none;
    border-radius: 3px;

}

.playlist-title{
    border-bottom: solid 1px grey;
    margin: 7px 0;
}

.playlist-input{
    width: 100%;
    background-color: var(--clr-white);
    border: none;
    padding: 3px;
    border-radius: 3px;
    margin: 5px 0;
}

.playlist-button{
    width: 100%;
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 3px;
    border-radius: 3px;
    margin: 5px 0;
}